  <p id="notice"><%= notice %></p>

  <div class="container">
    <p>
      <strong>Title :</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong>Author :</strong>
      <%= @post.author %>
    </p>

    <p>
      <strong>Date :</strong>
      <%= @post.date %>
    </p>

    <p>
      <strong>Description :</strong>
      <%= @post.description %>
    </p>

    <%= link_to 'Edit', edit_post_path(@post) , class:"bottom-l" %> |
    <%= link_to 'Back', posts_path , class:"bottom-l" %>

  </div>
  <%= @post.comments.first.body rescue nil %>

  <%= render 'new_comment' %>
  <%= render 'comments' %>